# Data Wrangling and Cleaning
###### by Wilson Lee
###### Data Set : China Mobile User Gemographics
###### Source Link : https://www.kaggle.com/chinapage/china-mobile-user-gemographics

In [1]:
# import libraries
%matplotlib inline

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
import nltk
import string
from nltk.tokenize import word_tokenize

# convert sientific notation to decimals
pd.set_option("display.float_format", lambda x:"%.2f" % x)

## Load & Merge the Data

### Load single file database

In [2]:
df_app_label = pd.read_csv('../../Data/Raw/China Mobile User Gemographics/app_labels.csv')
df_gender_age_test = pd.read_csv('../../Data/Raw/China Mobile User Gemographics/gender_age_test.csv')
df_gender_age_train = pd.read_csv('../../Data/Raw/China Mobile User Gemographics/gender_age_train.csv')
df_label_categories = pd.read_csv('../../Data/Raw/China Mobile User Gemographics/label_categories.csv')
df_phone_brand_device_model = pd.read_csv('../../Data/Raw/China Mobile User Gemographics/phone_brand_device_model.csv')
df_brand_name_translation = pd.read_csv("../../Data/Raw/brand_name_translation.csv")


### Load Multi-File database

#### Load Event List

In [3]:
wEvent_splitFolder = "../../Data/Raw/China Mobile User Gemographics/events_split"
wEvents_header_file = "events_header"
df_events_header = pd.read_csv(os.path.join(wEvent_splitFolder, wEvents_header_file))

list_df_events = []
for wRoot, wDirs, wFiles in os.walk(wEvent_splitFolder):
    for wFilename in wFiles:
        if wEvents_header_file != wFilename:
            wCurrentFilename = os.path.join(wRoot, wFilename)
            list_df_events.append(pd.read_csv(wCurrentFilename, index_col=None, header=None))
            
df_events =  pd.concat(list_df_events, axis = 0, ignore_index = True)
df_events.columns = df_events_header.columns

# de-reference loaded dataframe list
list_df_events = []

#### Load Application Events

In [4]:
wApp_Event_splitFolder = "../../Data/Raw/China Mobile User Gemographics/app_events_split"
wApp_Events_header_file = "app_events_header"
df_app_events_header = pd.read_csv(os.path.join(wApp_Event_splitFolder, wApp_Events_header_file))

list_df_app_events = [];
for wRoot, wDirs, wFiles in os.walk(wApp_Event_splitFolder):
    for wFilename in wFiles:
        if wApp_Events_header_file != wFilename:
            wCurrentFilename = os.path.join(wRoot, wFilename)
            list_df_app_events.append(pd.read_csv(wCurrentFilename, index_col=None, header=None))
            
df_app_events =  pd.concat(list_df_app_events, axis = 0, ignore_index = True)
df_app_events.columns = df_app_events_header.columns

# de-reference loaded dataframe list
list_df_app_events = []

### Preview Data

#### Gender & Age Data

In [5]:
print("Number of rows : {0}".format(len(df_gender_age_test)))
df_gender_age_test.head(3)

Number of rows : 112071

             device_id
0  1002079943728939269
1 -1547860181818787117
2  7374582448058474277

In [6]:
print("Number of rows : {0}".format(len(df_gender_age_train)))
df_gender_age_train.head(3)

Number of rows : 74645

             device_id gender  age   group
0 -8076087639492063270      M   35  M32-38
1 -2897161552818060146      M   35  M32-38
2 -8260683887967679142      M   35  M32-38

#### App Label Data

In [7]:
print("Number of rows : {0}".format(len(df_app_label)))
df_app_label.head(3)

Number of rows : 459943

                app_id  label_id
0  7324884708820027918       251
1 -4494216993218550286       251
2  6058196446775239644       406

#### App Category Labels

In [8]:
print("Number of rows : {0}".format(len(df_label_categories)))
df_label_categories.head(3)

Number of rows : 930

   label_id          category
0         1               NaN
1         2    game-game type
2         3  game-Game themes

#### Device Brand and Model

In [9]:
print("Number of rows : {0}".format(len(df_phone_brand_device_model)))
df_phone_brand_device_model.head(3)

Number of rows : 187245

             device_id phone_brand device_model
0 -8890648629457979026          小米           红米
1  1277779817574759137          小米         MI 2
2  5137427614288105724          三星    Galaxy S4

#### Brand Name Translation

In [10]:
print("Number of rows : {0}".format(len(df_brand_name_translation)))
df_brand_name_translation.head(3)

Number of rows : 86

  chinese  english
0      三星  samsung
1      天语   Ktouch
2      海信  hisense

#### Event Data

In [11]:
print("Number of rows : {0}".format(len(df_events)))
df_events.head(10)

Number of rows : 3252950

   event_id            device_id            timestamp  longitude  latitude
0         1    29182687948017175  2016-05-01 00:55:25     121.38     31.24
1         2 -6401643145415154744  2016-05-01 00:54:12     103.65     30.97
2         3 -4833982096941402721  2016-05-01 00:08:05     106.60     29.70
3         4 -6815121365017318426  2016-05-01 00:06:40     104.27     23.28
4         5 -5373797595892518570  2016-05-01 00:07:18     115.88     28.66
5         6  1476664663289716375  2016-05-01 00:27:21       0.00      0.00
6         7  5990807147117726237  2016-05-01 00:15:13     113.73     23.00
7         8  1782450055857303792  2016-05-01 00:15:35     113.94     34.70
8         9 -2073340001552902943  2016-05-01 00:15:33       0.00      0.00
9        10 -8195816569128397698  2016-05-01 00:41:31     119.34     26.04

#### Application Event Data

In [12]:
print("Number of rows : {0}".format(len(df_app_events)))
df_app_events.head(20)

Number of rows : 32473067

    event_id               app_id  is_installed  is_active
0          2  5927333115845830913             1          1
1          2 -5720078949152207372             1          0
2          2 -1633887856876571208             1          0
3          2  -653184325010919369             1          1
4          2  8693964245073640147             1          1
5          2  4775896950989639373             1          1
6          2 -8022267440849930066             1          0
7          2  9112463267739110219             1          0
8          2 -3725672010020973973             1          0
9          2  7167114343576723123             1          1
10         2   487766649788038994             1          0
11         2  7460082553072507347             1          0
12         2   628020936226491308             1          0
13         2   701031210314548601             1          0
14         2 -1758857579862594461             1          0
15         2  4348659952760821294             1          0
16         2 -8942695423876075857             1          0
17         2  5497109940653330488             1          1
18         2  3717049149426646122             1          0
19         6 -7377004479023402858             1          1

### Clean Data

#### Drop NA & NaN

In [13]:
print("<df_app_label> Number of rows prior drop NA : {0}".format(len(df_app_label)))
df_app_label = df_app_label.dropna()
print("<df_app_label> Number of rows after drop NA : {0}".format(len(df_app_label)))
print()
print("<df_gender_age_train> Number of rows prior drop NA : {0}".format(len(df_gender_age_train)))
df_gender_age_train = df_gender_age_train.dropna()
print("<df_gender_age_train> Number of rows after drop NA : {0}".format(len(df_gender_age_train)))
print()
print("<df_label_categories> Number of rows prior drop NA : {0}".format(len(df_label_categories)))
df_label_categories = df_label_categories.dropna()
print("<df_label_categories> Number of rows after drop NA : {0}".format(len(df_label_categories)))
print()
print("<df_phone_brand_device_model> Number of rows prior drop NA : {0}".format(len(df_phone_brand_device_model)))
df_phone_brand_device_model = df_phone_brand_device_model.dropna()
print("<df_phone_brand_device_model> Number of rows after drop NA : {0}".format(len(df_phone_brand_device_model)))
print()
print("<df_brand_name_translation> Number of rows prior drop NA : {0}".format(len(df_brand_name_translation)))
df_brand_name_translation = df_brand_name_translation.dropna()
print("<df_brand_name_translation> Number of rows after drop NA : {0}".format(len(df_brand_name_translation)))
print()
print("<df_app_events> Number of rows prior drop NA : {0}".format(len(df_app_events)))
df_app_events = df_app_events.dropna()
print("<df_app_events> Number of rows after drop NA : {0}".format(len(df_app_events)))
print()
print("<df_events> Number of rows prior drop NA : {0}".format(len(df_events)))
df_events = df_events.dropna()
print("<df_events> Number of rows after drop NA : {0}".format(len(df_events)))

<df_app_label> Number of rows prior drop NA : 459943
<df_app_label> Number of rows after drop NA : 459943

<df_gender_age_train> Number of rows prior drop NA : 74645
<df_gender_age_train> Number of rows after drop NA : 74645

<df_label_categories> Number of rows prior drop NA : 930
<df_label_categories> Number of rows after drop NA : 927

<df_phone_brand_device_model> Number of rows prior drop NA : 187245
<df_phone_brand_device_model> Number of rows after drop NA : 187245

<df_brand_name_translation> Number of rows prior drop NA : 86
<df_brand_name_translation> Number of rows after drop NA : 85

<df_app_events> Number of rows prior drop NA : 32473067
<df_app_events> Number of rows after drop NA : 32473067

<df_events> Number of rows prior drop NA : 3252950
<df_events> Number of rows after drop NA : 3252950

#### Remove "unknown" Label Categories

In [14]:
print("<df_app_label> Number of rows prior <unknown> category removal : {0}".format(len(df_label_categories)))

df_label_categories = df_label_categories[(df_label_categories["category"] != "") & (df_label_categories["category"] != "NaN") & (df_label_categories["category"] != "unknown")]

print("<df_app_label> Number of rows after <unknown> category removal : {0}".format(len(df_label_categories)))

<df_app_label> Number of rows prior <unknown> category removal : 927
<df_app_label> Number of rows after <unknown> category removal : 901

#### Remove Events of Un-Installed Applications

In [15]:
print("<df_events> Number of rows prior uninstalled app removal : {0}".format(len(df_events)))

df_app_events = df_app_events[(df_app_events["is_installed"] == 1)]
print("<df_events> Number of rows after uninstalled app removal : {0}".format(len(df_events)))

df_app_events[(df_app_events["is_installed"] == 0)]

<df_events> Number of rows prior uninstalled app removal : 3252950
<df_events> Number of rows after uninstalled app removal : 3252950

Empty DataFrame
Columns: [event_id, app_id, is_installed, is_active]
Index: []

##### Remove "is_installed" Column

In [16]:
df_app_events = df_app_events.drop("is_installed", axis=1)
df_app_events.head(3)

   event_id               app_id  is_active
0         2  5927333115845830913          1
1         2 -5720078949152207372          0
2         2 -1633887856876571208          0

#### Transform Data

##### Label Categories

###### Clean Text

In [17]:
df_trans_label_categories = df_label_categories.copy()
# to Lower case
df_trans_label_categories["category-mod"] = df_trans_label_categories["category"]
df_trans_label_categories["category-mod"] = df_trans_label_categories["category-mod"].str.lower()

#dash and Spaces
df_trans_label_categories["category-mod"] = df_trans_label_categories["category-mod"].str.replace("-"," ")
df_trans_label_categories["category-mod"] = df_trans_label_categories["category-mod"].str.replace("_"," ")

df_trans_label_categories["category-mod"] = df_trans_label_categories["category-mod"].str.replace("games"," game ")
df_trans_label_categories["category-mod"] = df_trans_label_categories["category-mod"].str.replace("game"," game ")


# play
df_trans_label_categories["category-mod"] = df_trans_label_categories["category-mod"].str.replace(r'played[0-9]','play ')
df_trans_label_categories["category-mod"] = df_trans_label_categories["category-mod"].str.replace(r'play[0-9]','play ')
df_trans_label_categories["category-mod"] = df_trans_label_categories["category-mod"].str.replace(" playing "," play ")
df_trans_label_categories["category-mod"] = df_trans_label_categories["category-mod"].str.replace(" played "," play ")
df_trans_label_categories["category-mod"] = df_trans_label_categories["category-mod"].str.replace(" play "," play ")

df_trans_label_categories["category-mod"] = df_trans_label_categories["category-mod"].str.replace("   ","  ")
df_trans_label_categories["category-mod"] = df_trans_label_categories["category-mod"].str.replace("  "," ")

# rpg
df_trans_label_categories["category-mod"] = df_trans_label_categories["category-mod"].str.replace(" role play game "," rpg ")
df_trans_label_categories["category-mod"] = df_trans_label_categories["category-mod"].str.replace(" rpg "," rpg game ")

# paid
df_trans_label_categories["category-mod"] = df_trans_label_categories["category-mod"].str.replace(r'paid[0-9]','paid')

# low
df_trans_label_categories["category-mod"] = df_trans_label_categories["category-mod"].str.replace(" lower "," low")
df_trans_label_categories["category-mod"] = df_trans_label_categories["category-mod"].str.replace(" low "," low ")

# higher
df_trans_label_categories["category-mod"] = df_trans_label_categories["category-mod"].str.replace(" higher "," high")
df_trans_label_categories["category-mod"] = df_trans_label_categories["category-mod"].str.replace(" high "," high ")

# fetus
df_trans_label_categories["category-mod"] = df_trans_label_categories["category-mod"].str.replace("fetus"," pregnant baby ")
df_trans_label_categories["category-mod"] = df_trans_label_categories["category-mod"].str.replace("pregnancy"," pregnant baby ")

# kids
df_trans_label_categories["category-mod"] = df_trans_label_categories["category-mod"].str.replace(" kids "," children ")
df_trans_label_categories["category-mod"] = df_trans_label_categories["category-mod"].str.replace(" children "," child ")

# united states
df_trans_label_categories["category-mod"] = df_trans_label_categories["category-mod"].str.replace(r"^us ","united-states ")
df_trans_label_categories["category-mod"] = df_trans_label_categories["category-mod"].str.replace(r" us$"," united-states")
df_trans_label_categories["category-mod"] = df_trans_label_categories["category-mod"].str.replace(" us "," united-states ")
df_trans_label_categories["category-mod"] = df_trans_label_categories["category-mod"].str.replace("united states","united-states")

# united kingdom
df_trans_label_categories["category-mod"] = df_trans_label_categories["category-mod"].str.replace(r"^uk ","united-kingdom ")
df_trans_label_categories["category-mod"] = df_trans_label_categories["category-mod"].str.replace(r" uk$"," united-kingdom")
df_trans_label_categories["category-mod"] = df_trans_label_categories["category-mod"].str.replace(" uk "," united-kingdom ")
df_trans_label_categories["category-mod"] = df_trans_label_categories["category-mod"].str.replace("united kingdom","united-kingdom")

# special words
df_trans_label_categories["category-mod"] = df_trans_label_categories["category-mod"].str.replace("jin yon","jinyon")
df_trans_label_categories["category-mod"] = df_trans_label_categories["category-mod"].str.replace("xian xia","xianxia")
df_trans_label_categories["category-mod"] = df_trans_label_categories["category-mod"].str.replace("flight","aviation")
df_trans_label_categories["category-mod"] = df_trans_label_categories["category-mod"].str.replace("airline","aviation")
df_trans_label_categories["category-mod"] = df_trans_label_categories["category-mod"].str.replace("aeronautical","aviation")
df_trans_label_categories["category-mod"] = df_trans_label_categories["category-mod"].str.replace("aviations","aviation")
df_trans_label_categories["category-mod"] = df_trans_label_categories["category-mod"].str.replace("shares","stock")
df_trans_label_categories["category-mod"] = df_trans_label_categories["category-mod"].str.replace("puzzel","puzzle")


# replace brackets
df_trans_label_categories["category-mod"] = df_trans_label_categories["category-mod"].str.replace("("," ")
df_trans_label_categories["category-mod"] = df_trans_label_categories["category-mod"].str.replace(")"," ")

# replace quotes
df_trans_label_categories["category-mod"] = df_trans_label_categories["category-mod"].str.replace("'"," ")

# replace comma
df_trans_label_categories["category-mod"] = df_trans_label_categories["category-mod"].str.replace(","," ")

# replace float numbers
df_trans_label_categories["category-mod"] = df_trans_label_categories["category-mod"].str.replace(r'[0-9]\.[0-9]',' ')
df_trans_label_categories["category-mod"] = df_trans_label_categories["category-mod"].str.replace(r' [0-9][0-9] ',' ')

# replace period
df_trans_label_categories["category-mod"] = df_trans_label_categories["category-mod"].str.replace("."," ")

# replace single character words
df_trans_label_categories["category-mod"] = df_trans_label_categories["category-mod"].str.replace(r'^. ',' ')
df_trans_label_categories["category-mod"] = df_trans_label_categories["category-mod"].str.replace(r' . ',' ')
df_trans_label_categories["category-mod"] = df_trans_label_categories["category-mod"].str.replace(r' .$',' ')

# clean spaces
df_trans_label_categories["category-mod"] = df_trans_label_categories["category-mod"].str.replace("   ","  ")
df_trans_label_categories["category-mod"] = df_trans_label_categories["category-mod"].str.replace("  "," ")


from nltk.stem.wordnet import WordNetLemmatizer
from nltk.stem import PorterStemmer
from nltk.corpus import stopwords
nltk.download('wordnet')
nltk.download('stopwords')

# for a more complete list of stopwords and in other languages: https://www.ranks.nl/stopwords
# pritn the stop_words
stop_words = set(stopwords.words('english'))
wordnet_lemmatize = WordNetLemmatizer()
stemmer = PorterStemmer()

# custome operation
def custom_op(row):
    wWordBag = row["category-mod"].split(" ")
    # remove stop words
    wWordBag = [word for word in wWordBag if not word in stop_words]
    # remove empty strings
    wWordBag = [word for word in wWordBag if not word == ""]
    
    wNewWordBag = []
    for word in wWordBag:
        # lemmatize word
        wNewWord = wordnet_lemmatize.lemmatize(word)
        # wNewWord = stemmer.stem(wNewWord)
        wNewWordBag.append(wNewWord)

    wNewWordBag = [word for word in wNewWordBag if len(word) >= 2]

    ostring = ""
    for word in wNewWordBag:
        if not ostring == "":
            ostring += " "
        ostring += word
    return ostring

df_trans_label_categories["category-mod"] = df_trans_label_categories.apply(custom_op, axis=1)

# list = df_trans_label_categories["category-mod"].tolist()
# print(list)
# print(len(list))
df_trans_label_categories

[nltk_data] Downloading package wordnet to C:\Users\Wilson
[nltk_data]     Lee\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package stopwords to C:\Users\Wilson
[nltk_data]     Lee\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

,label_id,category,category-mod
1,2,game-game type,game game type
2,3,game-Game themes,game game theme
3,4,game-Art Style,game art style
4,5,game-Leisure time,game leisure time
5,6,game-Cutting things,game cutting thing
6,7,game-Finding fault,game finding fault
7,8,game-stress reliever,game stress reliever
8,9,game-pet,game pet
9,10,game-Answer,game answer
10,11,game-Fishing,game fishing
11,12,game-Music and Dance,game music dance
12,13,game-Puzzle,game puzzle
13,14,game-Adventure puzzle,game adventure puzzle
14,15,game-Parkour Racing,game parkour racing
15,16,game-Parkour,game parkour
16,17,game-Racing,game racing
17,18,game-Motorcycle,game motorcycle
18,19,game-Rowing,game rowing
19,20,game-aircraft,game aircraft
20,21,game-Gem Elimination,game gem elimination
21,22,game-Box,game box
22,23,game-gem,game gem
23,24,game-Lianliankan,game lianliankan
24,25,game-Zuma,game zuma
25,26,game-Bobble,game bobble
26,27,game-Cartoon,game cartoon
27,28,game-Online game,game online game
28,29,game-Role -playing games,game rpg game
29,30,game-Competitive action,game competitive action
30,31,game-Tactics,game tactic
...,...,...,...
900,992,trickery,trickery
901,993,Senki,senki
902,994,Journey,journey
903,995,tribe,tribe
904,996,Ninja,ninja
905,997,Romance,romance
906,998,Shushan,shushan
907,999,Martial arts,martial art
908,1000,Domestic animation,domestic animation
909,1001,Europe and Fantasy,europe fantasy
910,1002,Harem,harem
911,1003,fashion,fashion
912,1004,Finance,finance
913,1005,Traditional securities brokerage,traditional security brokerage
914,1006,Lottery ticket,lottery ticket
915,1007,P2P net loan,p2p net loan
916,1008,Pay,pay
917,1009,Crowdfunding,crowdfunding
918,1010,Accounting,accounting
919,1011,Third-party card management,third party card management
920,1012,Internet Banking,internet banking
921,1013,Financial Information,financial information
922,1014,Consumer Finance,consumer finance
923,1015,mobile bank,mobile bank
924,1016,Traditional Insurance,traditional insurance
925,1017,Heritage Foundation,heritage foundation
926,1018,Direct Banking,direct banking
927,1019,Internet Securities,internet security
928,1020,Bank Credit Card,bank credit card
929,1021,Internet Insurance,internet insurance

###### Create word vector

In [18]:
list_of_labels = df_trans_label_categories["category-mod"].tolist()
list_of_existing_columns = list(df_trans_label_categories)
print(list_of_existing_columns)
list_of_words = []
for label in list_of_labels:
    wordbag = label.split(" ")
    for word in wordbag:
        if word == "":
            # exclude blanks
            continue
        if word in list_of_existing_columns:
            # exclude existing columns
            continue
        if not word in list_of_words:
            list_of_words.append(word)
list_of_words.sort()
print(list_of_words)
print(len(list_of_words))

['label_id', 'category', 'category-mod']
['2g', '3d', '3g', '4g', '80', '90', 'abroad', 'academic', 'accessory', 'accommodation', 'accounting', 'action', 'active', 'activity', 'adventure', 'advertising', 'advice', 'advisory', 'aftermarket', 'aged', 'agency', 'agent', 'aggregate', 'air', 'aircraft', 'airport', 'alliance', 'amount', 'amoy', 'android', 'animation', 'answer', 'antique', 'app', 'appliance', 'application', 'area', 'around', 'arpg', 'art', 'asia', 'astrology', 'attraction', 'audiobooks', 'australia', 'austria', 'auto', 'automotive', 'aviation', 'avoid', 'baby', 'bag', 'ball', 'bank', 'banking', 'bar', 'based', 'basketball', 'bath', 'bathroom', 'beach', 'beauty', 'bed', 'behalf', 'behavior', 'belgium', 'big', 'billards', 'billiard', 'blog', 'bm', 'board', 'bobble', 'bond', 'book', 'booking', 'bookstore', 'box', 'bracelet', 'brand', 'branded', 'brazil', 'bread', 'brokerage', 'browser', 'buffet', 'bus', 'business', 'buy', 'cafe', 'calendar', 'camera', 'canada', 'capital', 'car', 'card', 'care', 'cartoon', 'casual', 'center', 'chain', 'change', 'channel', 'charge', 'chattel', 'checkpoint', 'chess', 'child', 'china', 'chinese', 'chip', 'church', 'cinema', 'city', 'class', 'classical', 'cleaning', 'clock', 'closed', 'clothes', 'clothing', 'club', 'coach', 'coffee', 'collection', 'college', 'comfortable', 'comic', 'commodity', 'communitation', 'community', 'company', 'comparing', 'competitive', 'complex', 'computer', 'concert', 'condition', 'consecutive', 'consumer', 'contact', 'content', 'convenience', 'cool', 'cooperation', 'core', 'corporate', 'cosmetic', 'cosplay', 'cost', 'country', 'coupon', 'cozy', 'credit', 'crowdfunding', 'cultivation', 'culture', 'cup', 'custom', 'customization', 'customized', 'cute', 'cutting', 'cycle', 'cycling', 'dance', 'day', 'debit', 'decoration', 'deep', 'defense', 'denmark', 'desktop', 'dessert', 'destination', 'development', 'device', 'dialect', 'dice', 'dictionary', 'digital', 'dinner', 'direct', 'disk', 'diy', 'doctor', 'documentary', 'domestic', 'dotal', 'doudizhu', 'drawing', 'dress', 'drive', 'driving', 'dual', 'early', 'economics', 'editor', 'education', 'educational', 'effective', 'effectiveness', 'effort', 'electric', 'elimination', 'email', 'empty', 'end', 'engineering', 'enhancement', 'entertainment', 'enthusiasm', 'equipment', 'equity', 'estate', 'europe', 'exam', 'exchange', 'exercise', 'experience', 'express', 'facility', 'family', 'fantasy', 'farm', 'fashion', 'fast', 'fault', 'favorite', 'feature', 'fee', 'feed', 'fiction', 'fighting', 'file', 'film', 'finance', 'financial', 'financing', 'finding', 'fingerprint', 'finland', 'fishing', 'fitness', 'five', 'fixed', 'flat', 'florist', 'flow', 'flower', 'food', 'foot', 'football', 'foreign', 'foundation', 'four', 'fragrance', 'france', 'free', 'frequency', 'fruit', 'full', 'fun', 'fund', 'funny', 'furniture', 'future', 'gambling', 'game', 'gaming', 'gem', 'general', 'generation', 'germany', 'go', 'golf', 'good', 'greece', 'grocery', 'group', 'groupon', 'guaranteed', 'guard', 'gym', 'gyro', 'hairdressing', 'hall', 'hardware', 'harem', 'headphone', 'health', 'heritage', 'high', 'higher', 'home', 'hong', 'horizontal', 'horoscope', 'hospital', 'hot', 'hotel', 'house', 'household', 'housekeeping', 'housing', 'hub', 'identity', 'im', 'imf', 'inch', 'income', 'index', 'indian', 'industry', 'information', 'inn', 'input', 'installation', 'institution', 'instrument', 'insurance', 'integrated', 'intellectual', 'intelligent', 'internet', 'io', 'irritation', 'italy', 'japan', 'japanese', 'jewelry', 'jinyong', 'job', 'joke', 'journal', 'journey', 'kid', 'kindom', 'kitchen', 'kitchenware', 'knight', 'kong', 'korea', 'korean', 'ktv', 'label', 'lady', 'landing', 'language', 'large', 'latvia', 'laundry', 'learning', 'leather', 'leisure', 'lenovo', 'liability', 'lianliankan', 'library', 'life', 'like', 'lining', 'liquid', 'liquidity', 'listening', 'literacy', 'literature', 'little', 'living', 'loan', 'location', 'logistics', 'lol', 'lose', 'lottery', 'love', 'low', 'lower', 'lunch', 'luxury', 'macao', 'machine', 'magazine', 'magic', 'mainland', 'majiang', 'make', 'makeup', 'malaysia', 'mall', 'man', 'management', 'managemetn', 'map', 'marriage', 'marry', 'marsh', 'martial', 'massage', 'material', 'maternal', 'math', 'meal', 'medical', 'medicine', 'medium', 'men', 'merchandise', 'mesasge', 'metal', 'method', 'microfilm', 'middle', 'military', 'millitary', 'mixed', 'mmo', 'moba', 'mobile', 'mobility', 'model', 'moderate', 'monetary', 'month', 'mother', 'motorcycle', 'movie', 'museum', 'music', 'musical', 'mythology', 'nail', 'natural', 'nature', 'navigation', 'nearly', 'nester', 'net', 'netherlands', 'network', 'new', 'news', 'nfc', 'ninja', 'noble', 'non', 'norway', 'note', 'novel', 'occupational', 'office', 'oil', 'old', 'olympic', 'online', 'operating', 'operatior', 'operator', 'optical', 'ordering', 'orientation', 'original', 'outdoor', 'outfit', 'outlaw', 'outside', 'overseas', 'owner', 'p2p', 'pack', 'package', 'paid', 'painting', 'parent', 'parental', 'parenting', 'parkour', 'party', 'passion', 'paternity', 'pawn', 'pay', 'payment', 'peace', 'personal', 'personalized', 'pet', 'pharmacy', 'philippine', 'phone', 'photo', 'photographic', 'photography', 'physical', 'picture', 'ping', 'pirated', 'pixel', 'place', 'planning', 'platform', 'play', 'poetry', 'point', 'poker', 'pool', 'population', 'portugal', 'post', 'pot', 'precious', 'preference', 'pregnant', 'prepare', 'preservation', 'price', 'print', 'process', 'product', 'professional', 'profitability', 'property', 'psychology', 'public', 'purpose', 'pursue', 'pursuit', 'puzzle', 'qdii', 'quality', 'rac', 'racing', 'radio', 'rail', 'raising', 'rate', 'read', 'reader', 'reading', 'real', 'realistic', 'reality', 'realtime', 'recently', 'recipe', 'region', 'regional', 'related', 'relative', 'reliever', 'rental', 'repair', 'reputation', 'reservation', 'resident', 'resolution', 'retail', 'review', 'risk', 'romance', 'room', 'round', 'row', 'rowing', 'rpg', 'safety', 'sailing', 'sale', 'salon', 'scheduling', 'school', 'science', 'screen', 'sea', 'search', 'security', 'seller', 'senki', 'series', 'service', 'seven', 'shabu', 'share', 'sharing', 'shoe', 'shooting', 'shootout', 'shop', 'shopping', 'show', 'shushan', 'sim', 'simple', 'simulation', 'simulator', 'singapore', 'size', 'ski', 'skill', 'skin', 'slg', 'slightly', 'slim', 'small', 'smart', 'snack', 'snipe', 'socially', 'south', 'southeast', 'spa', 'spain', 'speed', 'sport', 'stage', 'standard', 'star', 'stereo', 'stg', 'stimulate', 'stock', 'store', 'strategy', 'stress', 'student', 'study', 'style', 'suitcase', 'sun', 'supermarket', 'supply', 'sweden', 'swim', 'swimming', 'switzerland', 'system', 'table', 'tableware', 'tackle', 'tactic', 'tag', 'taiwan', 'takeaway', 'talk', 'tank', 'tattoo', 'taxi', 'tea', 'teahouse', 'technology', 'telecom', 'tencent', 'tennis', 'texas', 'textile', 'thailand', 'theme', 'thing', 'third', 'three', 'ticket', 'time', 'tobacco', 'toiletry', 'tomb', 'tool', 'total', 'tour', 'tourism', 'tourist', 'tower', 'toy', 'traditional', 'trailer', 'train', 'training', 'transport', 'transportation', 'travel', 'trendy', 'tribe', 'trickery', 'trust', 'turn', 'tv', 'type', 'ultra', 'underwear', 'united-kingdom', 'united-states', 'university', 'user', 'utensil', 'utility', 'vehicle', 'vermicelli', 'version', 'video', 'viewing', 'violence', 'vitality', 'volkswagen', 'wallet', 'war', 'warcraft', 'wash', 'watch', 'water', 'wealth', 'wearable', 'weather', 'wedding', 'weibo', 'weight', 'west', 'western', 'wifi', 'wig', 'willingness', 'woman', 'wonderful', 'word', 'work', 'world', 'wp', 'xianxia', 'youth', 'zombie', 'zuma']
729

###### Create "One Hot Encode" for Label Categories

In [ ]:
for word in list_of_words:
    df_trans_label_categories[word] = 0
    
for index, row in df_trans_label_categories.iterrows():
    wordbag = row["category-mod"].split(" ")
    for word in wordbag:
        if word in list_of_words:
            df_trans_label_categories.at[index, word] = 1

In [ ]:
# test transformation
df_trans_label_categories[(df_trans_label_categories["europe"]==1)]

,label_id,category,category-mod,2g,3d,3g,4g,80,90,abroad,...,woman,wonderful,word,work,world,wp,xianxia,youth,zombie,zuma
98,99,US and Europe animation,united-states europe animation,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
102,103,US and Europe magic comic,united-states europe magic comic,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
842,930,"Europe, the United States and Macao (aviation)",europe united-states macao aviation,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
858,946,"Europe, the United States and Macao (Travel)",europe united-states macao travel,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
909,1001,Europe and Fantasy,europe fantasy,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

#### Aggregate App Labels

##### Merge Label category with Application

In [ ]:
df_agg_app_label = df_app_label.copy()
df_agg_app_label = df_agg_app_label.merge(df_trans_label_categories, on="label_id", how="left")

##### Drop useless columns

In [ ]:
df_agg_app_label = df_agg_app_label.drop("label_id", axis=1)
df_agg_app_label = df_agg_app_label.drop("category", axis=1)
df_agg_app_label = df_agg_app_label.drop("category-mod", axis=1)

##### Aggregate Application word vector

In [ ]:
df_agg_app_label = df_agg_app_label.groupby(by='app_id').max()

##### Normalize word vector

In [ ]:
#for word in list_of_words:
#    df_agg_app_label[word] = df_agg_app_label[word].apply(lambda x : 1 if x > 0.5 else 0)

NewWordList = []
for word in list_of_words:
    ValueMax = df_agg_app_label[word].max()
    if ValueMax < 0.5:
        # There is no app with that attribute, we could remove it from the list to save space
        df_agg_app_label = df_agg_app_label.drop(word, axis=1)
        df_trans_label_categories = df_trans_label_categories.drop(word, axis=1)
    else:
        NewWordList.append(word)

print("Old Vector Size {0}".format(len(list_of_words)))

list_of_words = NewWordList

print("New Vector Size {0}".format(len(list_of_words)))
print(list_of_words)

Old Vector Size 729
New Vector Size 454
['3d', '80', '90', 'abroad', 'academic', 'accommodation', 'accounting', 'action', 'activity', 'adventure', 'advice', 'advisory', 'aggregate', 'air', 'aircraft', 'airport', 'alliance', 'amoy', 'animation', 'answer', 'antique', 'app', 'appliance', 'application', 'area', 'around', 'arpg', 'art', 'asia', 'astrology', 'audiobooks', 'automotive', 'aviation', 'avoid', 'baby', 'ball', 'bank', 'banking', 'based', 'basketball', 'beach', 'beauty', 'behalf', 'big', 'billards', 'blog', 'bobble', 'bond', 'book', 'booking', 'box', 'brokerage', 'browser', 'bus', 'business', 'buy', 'calendar', 'car', 'card', 'care', 'cartoon', 'casual', 'chain', 'channel', 'checkpoint', 'chess', 'child', 'chinese', 'church', 'class', 'classical', 'clock', 'coach', 'collection', 'college', 'comfortable', 'comic', 'commodity', 'community', 'comparing', 'competitive', 'complex', 'condition', 'consumer', 'contact', 'content', 'convenience', 'cool', 'cosplay', 'cost', 'coupon', 'cozy', 'credit', 'crowdfunding', 'cultivation', 'culture', 'custom', 'customization', 'customized', 'cute', 'cutting', 'dance', 'debit', 'decoration', 'defense', 'desktop', 'destination', 'development', 'dice', 'dictionary', 'direct', 'disk', 'doctor', 'domestic', 'dotal', 'doudizhu', 'drawing', 'drive', 'editor', 'education', 'educational', 'effectiveness', 'effort', 'elimination', 'email', 'end', 'engineering', 'enhancement', 'entertainment', 'enthusiasm', 'equity', 'estate', 'europe', 'exam', 'exchange', 'exercise', 'express', 'family', 'fantasy', 'farm', 'fashion', 'fault', 'favorite', 'fiction', 'fighting', 'file', 'film', 'finance', 'financial', 'financing', 'finding', 'fishing', 'fixed', 'flow', 'football', 'foreign', 'foundation', 'free', 'full', 'fun', 'fund', 'furniture', 'future', 'gambling', 'game', 'gaming', 'gem', 'general', 'group', 'groupon', 'guard', 'gym', 'hardware', 'harem', 'health', 'heritage', 'high', 'higher', 'home', 'hong', 'horizontal', 'horoscope', 'hotel', 'household', 'housekeeping', 'housing', 'identity', 'im', 'imf', 'income', 'industry', 'information', 'insurance', 'integrated', 'intellectual', 'intelligent', 'internet', 'irritation', 'japan', 'japanese', 'jinyong', 'job', 'joke', 'journal', 'journey', 'kindom', 'knight', 'kong', 'korea', 'korean', 'ktv', 'label', 'landing', 'language', 'leisure', 'lianliankan', 'library', 'life', 'like', 'liquid', 'liquidity', 'listening', 'literacy', 'literature', 'living', 'loan', 'lol', 'lose', 'lottery', 'love', 'low', 'lower', 'macao', 'magazine', 'magic', 'mainland', 'majiang', 'make', 'mall', 'man', 'management', 'managemetn', 'map', 'marriage', 'marsh', 'martial', 'maternal', 'math', 'medical', 'medium', 'mesasge', 'metal', 'millitary', 'mmo', 'moba', 'mobile', 'mobility', 'moderate', 'monetary', 'mother', 'motorcycle', 'movie', 'music', 'mythology', 'nail', 'natural', 'nature', 'navigation', 'net', 'network', 'new', 'news', 'ninja', 'noble', 'non', 'note', 'novel', 'occupational', 'office', 'old', 'online', 'operator', 'ordering', 'outfit', 'outlaw', 'outside', 'overseas', 'owner', 'p2p', 'painting', 'parenting', 'parkour', 'party', 'passion', 'pay', 'payment', 'peace', 'personal', 'pet', 'phone', 'photography', 'picture', 'ping', 'pirated', 'pixel', 'platform', 'play', 'poetry', 'point', 'poker', 'population', 'precious', 'preference', 'pregnant', 'prepare', 'price', 'product', 'professional', 'profitability', 'property', 'psychology', 'purpose', 'pursue', 'pursuit', 'puzzle', 'quality', 'rac', 'racing', 'radio', 'rail', 'raising', 'rate', 'read', 'reader', 'reading', 'real', 'realistic', 'reality', 'realtime', 'recipe', 'region', 'regional', 'related', 'relative', 'reliever', 'rental', 'reputation', 'reservation', 'review', 'risk', 'romance', 'round', 'rowing', 'rpg', 'safety', 'sailing', 'sale', 'scheduling', 'science', 'sea', 'search', 'security', 'seller', 'senki', 'service', 'share', 'sharing', 'shooting', 'shootout', 'shopping', 'show', 'shushan', 'simple', 'simulation', 'simulator', 'skill', 'skin', 'slg', 'small', 'smart', 'snipe', 'south', 'southeast', 'speed', 'sport', 'stage', 'standard', 'stg', 'stimulate', 'stock', 'store', 'strategy', 'stress', 'student', 'study', 'style', 'supermarket', 'supply', 'system', 'table', 'tactic', 'tag', 'taiwan', 'takeaway', 'tank', 'taxi', 'technology', 'tencent', 'tennis', 'texas', 'thing', 'third', 'ticket', 'time', 'tomb', 'tool', 'total', 'tour', 'tourism', 'tower', 'traditional', 'train', 'transport', 'travel', 'trendy', 'tribe', 'trickery', 'trust', 'turn', 'type', 'united-states', 'user', 'utility', 'vehicle', 'vermicelli', 'version', 'video', 'violence', 'vitality', 'war', 'warcraft', 'wealth', 'wearable', 'weather', 'weibo', 'weight', 'west', 'western', 'wifi', 'word', 'world', 'xianxia', 'zombie', 'zuma']

In [ ]:
df_agg_app_label[(df_agg_app_label["xianxia"]==1)]

,3d,80,90,abroad,academic,accommodation,accounting,action,activity,adventure,...,weibo,weight,west,western,wifi,word,world,xianxia,zombie,zuma
app_id,,,,,,,,,,,,,,,,,,,,,
2082160393290296417,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1.00,0.00,0.00
7406605706859482641,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1.00,0.00,0.00
9112463382285835733,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1.00,0.00,0.00

#### Save Data

In [ ]:
df_trans_label_categories.to_csv('../../Data/Processed/label_categories.csv', index=False)

#### Translate Phone Brand Names

In [ ]:
dict_brand_names = pd.Series(df_brand_name_translation["english"].values,index=df_brand_name_translation["chinese"]).to_dict()

print(dict_brand_names)

{'三星': 'samsung', '天语': 'Ktouch', '海信': 'hisense', '联想': 'lenovo', '欧比': 'obi', '爱派尔': 'ipair', '努比亚': 'nubia', '优米': 'youmi', '朵唯': 'dowe', '黑米': 'heymi', '锤子': 'hammer', '酷比魔方': 'koobee', '美图': 'meitu', '尼比鲁': 'nibilu', '一加': 'oneplus', '优购': 'yougo', '诺基亚': 'nokia', '糖葫芦': 'candy', '中国移动': 'ccmc', '语信': 'yuxin', '基伍': 'kiwu', '青橙': 'greeno', '华硕': 'asus', '夏新': 'panosonic', '维图': 'weitu', '艾优尼': 'aiyouni', '摩托罗拉': 'moto', '乡米': 'xiangmi', '米奇': 'micky', '大可乐': 'bigcola', '沃普丰': 'wpf', '神舟': 'hasse', '摩乐': 'mole', '飞秒': 'fs', '米歌': 'mige', '富可视': 'fks', '德赛': 'desci', '梦米': 'mengmi', '乐视': 'lshi', '小杨树': 'smallt', '纽曼': 'newman', '邦华': 'banghua', 'E派': 'epai', '易派': 'epai', '普耐尔': 'pner', '欧新': 'ouxin', '西米': 'ximi', '海尔': 'haier', '波导': 'bodao', '糯米': 'nuomi', '唯米': 'weimi', '酷珀': 'kupo', '谷歌': 'google', '昂达': 'ada', '聆韵': 'lingyun', '小米': 'xiaomi', '酷派': 'coolpad', '华为': 'huawei', '金立': 'gionee', '中兴': 'zte', '魅族': 'meizu', '康佳': 'Kanga', '奇酷': 'Qi Cool', '欧博信': 'Ou Bo Xin', '金星数码': 'jxd', '百立丰': 'lephone', '诺亚信': 'noain', '亚马逊': 'amazon', '极米': 'gimi', '世纪天元': 'ctyon', '赛博宇华': 'sop', '飞利浦': 'philips', '西门子': 'siemens', '惠普': 'hp', '酷比': 'Cool ratio', '亿通': 'Yitong', '宏碁': 'Acer', '戴尔': 'Dell', '世纪星': 'Century Star', '德卡诺': 'Decano', '欧沃': 'Ovo', '先锋': 'Pioneer'}

In [ ]:
df_phone_brand_device_model["phone_brand"] = df_phone_brand_device_model["phone_brand"].apply( lambda x : x if not x in dict_brand_names else dict_brand_names[x])
df_phone_brand_device_model["phone_brand"].unique()

array(['xiaomi', 'samsung', 'SUGAR', 'huawei', 'vivo', 'meizu', 'coolpad',
       'Ktouch', 'OPPO', 'zte', 'gionee', 'lenovo', 'hisense', '索尼', 'LG',
       'HTC', 'Cool ratio', 'Kanga', 'Qi Cool', 'Ou Bo Xin', 'obi', 'TCL',
       'ipair', 'nubia', 'youmi', 'LOGO', 'dowe', 'heymi', 'hammer',
       'koobee', 'meitu', 'nibilu', 'oneplus', 'yougo', 'nokia', 'candy',
       'ccmc', 'yuxin', 'kiwu', 'greeno', 'asus', 'panosonic', 'weitu',
       'aiyouni', 'moto', 'xiangmi', 'micky', 'bigcola', 'wpf', 'hasse',
       'mole', 'fs', 'mige', 'fks', 'desci', 'mengmi', 'lshi', 'smallt',
       'newman', 'banghua', 'epai', 'pner', 'ouxin', 'ximi', 'haier',
       'bodao', 'nuomi', 'weimi', 'kupo', 'google', 'ZUK', 'Yitong',
       'ada', 'lingyun', 'jxd', '广信', '至尊宝', 'lephone', 'noain', '欧奇',
       '贝尔丰', 'MIL', '斐讯', '优语', 'Lovme', '白米', '百加', '宝捷讯', '果米', '首云',
       '瑞米', '瑞高', '台电', '丰米', '唯比', '长虹', '大Q', '鲜米', 'Pioneer', '恒宇丰',
       '虾米', '凯利通', '青葱', '奥克斯', '蓝魔', '智镁', 'philips', 'siemens', 'hp',
       '本为', 'Ovo', '欧乐迪', 'PPTV', 'sop', 'E人E本', '大显', '帷幄',
       'Century Star', 'Decano', 'ZOYE', 'Acer', 'Dell', '嘉源', '欧乐酷',
       '碟米', '天宏时代', 'ctyon', 'gimi', '原点', 'amazon'], dtype=object)

#### Merge Phone Model and User Info

##### Users with Age Group

In [ ]:
df_agg_user_info_w_age = df_gender_age_train.copy()
df_agg_user_info_w_age = df_agg_user_info_w_age.merge(df_phone_brand_device_model, on="device_id", how="left")
df_agg_user_info_w_age = df_agg_user_info_w_age.dropna()
df_agg_user_info_w_age.head(5)

             device_id gender  age   group phone_brand device_model
0 -8076087639492063270      M   35  M32-38      xiaomi         MI 2
1 -2897161552818060146      M   35  M32-38      xiaomi         MI 2
2 -8260683887967679142      M   35  M32-38      xiaomi         MI 2
3 -4938849341048082022      M   30  M29-31      xiaomi       红米note
4   245133531816851882      M   30  M29-31      xiaomi         MI 3

##### Users Without Age Group

In [ ]:
df_agg_user_info_w_out_age = df_gender_age_test.copy()
df_agg_user_info_w_out_age = df_agg_user_info_w_out_age.merge(df_phone_brand_device_model, on="device_id", how="left")
df_agg_user_info_w_out_age = df_agg_user_info_w_out_age.dropna()
df_agg_user_info_w_out_age.head(5)

             device_id phone_brand device_model
0  1002079943728939269      xiaomi       小米note
1 -1547860181818787117      xiaomi          红米2
2  7374582448058474277      huawei    Y523-L176
3 -6220210354783429585      huawei          荣耀6
4 -5893464122623104785      xiaomi         MI 2

#### Transform Events database

##### Extract Events for Users with Age Info

For our research we are only intrested in users with are information. Will discard the data for users without age information.

In [ ]:
df_events_users_w_age = df_agg_user_info_w_age.merge(df_events, on="device_id",how="inner")
df_events_users_w_age

,device_id,gender,age,group,phone_brand,device_model,event_id,timestamp,longitude,latitude
0,-8260683887967679142,M,35,M32-38,xiaomi,MI 2,2479656,2016-05-01 14:23:37,0.00,0.00
1,7477216237379271436,F,37,F33-42,huawei,荣耀6 plus,280934,2016-05-04 14:10:03,119.57,31.75
2,7477216237379271436,F,37,F33-42,huawei,荣耀6 plus,363585,2016-05-04 14:13:30,119.57,31.75
3,7477216237379271436,F,37,F33-42,huawei,荣耀6 plus,935225,2016-05-06 18:51:15,0.00,0.00
4,7477216237379271436,F,37,F33-42,huawei,荣耀6 plus,1551108,2016-05-04 14:09:29,119.57,31.75
5,7477216237379271436,F,37,F33-42,huawei,荣耀6 plus,1901681,2016-05-04 14:10:00,119.57,31.75
6,7477216237379271436,F,37,F33-42,huawei,荣耀6 plus,1969680,2016-05-04 14:08:17,119.59,31.75
7,7477216237379271436,F,37,F33-42,huawei,荣耀6 plus,2616450,2016-05-04 14:08:23,119.57,31.75
8,6352067998666467520,M,32,M32-38,huawei,荣耀畅玩4X,7665,2016-05-05 09:36:50,0.00,0.00
9,6352067998666467520,M,32,M32-38,huawei,荣耀畅玩4X,223251,2016-05-05 10:44:38,0.00,0.00
10,6352067998666467520,M,32,M32-38,huawei,荣耀畅玩4X,375447,2016-05-05 12:52:14,0.00,0.00
11,6352067998666467520,M,32,M32-38,huawei,荣耀畅玩4X,973134,2016-05-03 22:25:27,0.00,0.00
12,6352067998666467520,M,32,M32-38,huawei,荣耀畅玩4X,1692837,2016-05-05 17:25:25,0.00,0.00
13,6352067998666467520,M,32,M32-38,huawei,荣耀畅玩4X,1833120,2016-05-05 17:27:58,0.00,0.00
14,6352067998666467520,M,32,M32-38,huawei,荣耀畅玩4X,1852884,2016-05-05 12:44:44,0.00,0.00
15,6352067998666467520,M,32,M32-38,huawei,荣耀畅玩4X,2355981,2016-05-03 22:14:30,0.00,0.00
16,6352067998666467520,M,32,M32-38,huawei,荣耀畅玩4X,2611671,2016-05-05 10:42:26,0.00,0.00
17,6352067998666467520,M,32,M32-38,huawei,荣耀畅玩4X,2785142,2016-05-04 18:23:24,0.00,0.00
18,6352067998666467520,M,32,M32-38,huawei,荣耀畅玩4X,3139923,2016-05-05 09:33:18,0.00,0.00
19,1508636020748379883,F,28,F27-28,huawei,荣耀畅玩4X,12801,2016-05-01 13:12:07,120.26,31.91
20,1508636020748379883,F,28,F27-28,huawei,荣耀畅玩4X,45607,2016-05-04 13:08:44,120.26,31.90
21,1508636020748379883,F,28,F27-28,huawei,荣耀畅玩4X,202642,2016-05-04 13:05:26,120.26,31.90
22,1508636020748379883,F,28,F27-28,huawei,荣耀畅玩4X,412112,2016-05-01 13:06:16,120.26,31.91
23,1508636020748379883,F,28,F27-28,huawei,荣耀畅玩4X,526712,2016-05-01 21:39:58,120.25,31.89
24,1508636020748379883,F,28,F27-28,huawei,荣耀畅玩4X,709014,2016-05-04 13:52:36,120.26,31.90
25,1508636020748379883,F,28,F27-28,huawei,荣耀畅玩4X,847102,2016-05-04 13:07:28,120.26,31.90
26,1508636020748379883,F,28,F27-28,huawei,荣耀畅玩4X,847231,2016-05-04 13:46:25,120.26,31.90
27,1508636020748379883,F,28,F27-28,huawei,荣耀畅玩4X,847232,2016-05-04 13:51:12,120.26,31.90
28,1508636020748379883,F,28,F27-28,huawei,荣耀畅玩4X,988556,2016-05-04 13:51:06,120.26,31.90
29,1508636020748379883,F,28,F27-28,huawei,荣耀畅玩4X,1263730,2016-05-01 21:40:31,120.25,31.89
...,...,...,...,...,...,...,...,...,...,...
1220444,-4229815843211107303,M,53,M39+,xiaomi,MI 4,2898316,2016-05-07 05:17:19,0.00,0.00
1220445,-4229815843211107303,M,53,M39+,xiaomi,MI 4,2898320,2016-05-07 05:19:45,106.71,26.61
1220446,-4229815843211107303,M,53,M39+,xiaomi,MI 4,2927900,2016-05-02 00:22:07,106.71,26.61
1220447,-4229815843211107303,M,53,M39+,xiaomi,MI 4,2934219,2016-05-05 07:21:32,106.70,26.59
1220448,-4229815843211107303,M,53,M39+,xiaomi,MI 4,3017059,2016-05-07 22:10:10,106.70,26.59
1220449,-4229815843211107303,M,53,M39+,xiaomi,MI 4,3017798,2016-05-05 07:19:25,106.70,26.59
1220450,-4229815843211107303,M,53,M39+,xiaomi,MI 4,3022772,2016-05-03 11:02:17,106.76,26.63
1220451,-4229815843211107303,M,53,M39+,xiaomi,MI 4,3045514,2016-05-01 07:25:32,106.70,26.59
1220452,-4229815843211107303,M,53,M39+,xiaomi,MI 4,3073524,2016-05-07 18:03:29,106.71,26.60
1220453,-4229815843211107303,M,53,M39+,xiaomi,MI 4,3184673,2016-05-05 07:18:44,106.70,26.59
1220454,-4229815843211107303,M,53,M39+,xiaomi,MI 4,3186307,2016-05-04 21:28:27,106.70,26.59
1220455,5645813107043557722,F,51,F43+,xiaomi,MI 4,321609,2016-05-07 21:10:22,121.43,31.15
1220456,1390702386071991851,M,37,M32-38,huawei,Ascend P8,2098843,2016-05-01 16:49:41,0.00,0.00
1220457,89181010588227347,M,25,M23-26,xiaomi,MI 2S,228053,2016-05-01 15:05:39,0.00,0.00
1220458,89181010588227347,M,25,M23-26,xiaomi,MI 2S,231517,2016-05-07 17:46:01,0.00,0.00
1220459,89181010588227347,M,25,M23-26,xiaomi,MI 2S,579220,2016-05-04 14:09:23,119.26,26.05
1220460,89181010588227347,M,25,M23-26,xiaomi,MI 2S,716222,2016-05-06 01:35:28,0.00,0.00
1220461,89181010588227347,M,25,M23-26,xiaomi,MI 2S,899239,2016-05-06 10:18:21,0.00,0.00
1220462,89181010588227347,M,25,M23-26,xiaomi,MI 2S,1119695,2016-05-04 14:06:12,119.26,26.05
1220463,89181010588227347,M,25,M23-26,xiaomi,MI 2S,1119699,2016-05-04 14:09:11,104.00,30.00
1220464,89181010588227347,M,25,M23-26,xiaomi,MI 2S,1411540,2016-05-06 21:48:13,0.00,0.00
1220465,89181010588227347,M,25,M23-26,xiaomi,MI 2S,1458846,2016-05-07 17:56:05,0.00,0.00
1220466,89181010588227347,M,25,M23-26,xiaomi,MI 2S,1577164,2016-05-06 10:22:46,0.00,0.00
1220467,89181010588227347,M,25,M23-26,xiaomi,MI 2S,1886271,2016-05-04 14:02:11,119.26,26.05
1220468,89181010588227347,M,25,M23-26,xiaomi,MI 2S,2186234,2016-05-04 14:07:39,119.26,26.05
1220469,89181010588227347,M,25,M23-26,xiaomi,MI 2S,2218742,2016-05-05 19:28:40,0.00,0.00
1220470,89181010588227347,M,25,M23-26,xiaomi,MI 2S,2243803,2016-05-06 17:12:46,0.00,0.00
1220471,89181010588227347,M,25,M23-26,xiaomi,MI 2S,2336186,2016-05-04 14:08:05,119.26,26.05
1220472,89181010588227347,M,25,M23-26,xiaomi,MI 2S,3139128,2016-05-04 14:08:35,119.26,26.05
1220473,89181010588227347,M,25,M23-26,xiaomi,MI 2S,3176234,2016-05-06 17:15:32,0.00,0.00

##### Calulate Average Locations

In [ ]:
# Get a list of valid locations
df_valid_eventLocation = df_events_users_w_age.copy()
df_valid_eventLocation = df_valid_eventLocation[(df_valid_eventLocation["longitude"] > -179.99) & ((df_valid_eventLocation["latitude"] < -0.001)|(df_valid_eventLocation["latitude"] > 0.001))]
df_valid_eventLocation = df_valid_eventLocation[(df_valid_eventLocation["longitude"] < 179.99) & ((df_valid_eventLocation["latitude"] < -0.001)|(df_valid_eventLocation["latitude"] > 0.001))]
df_valid_eventLocation = df_valid_eventLocation[((df_valid_eventLocation["longitude"] < -0.001)|(df_valid_eventLocation["longitude"] > 0.001)) & ((df_valid_eventLocation["latitude"] < -0.001)|(df_valid_eventLocation["latitude"] > 0.001))]

# Get Average Location of the user using valid results
df_valid_eventLocation = df_valid_eventLocation.groupby("device_id").mean();
Available_Devices = df_valid_eventLocation.index

mean_longitude = df_valid_eventLocation["longitude"].mean();
mean_latitude = df_valid_eventLocation["latitude"].mean();

print("Average Location of users : {0} deg longitude, {1} deg latitude".format(mean_longitude, mean_latitude))

Average Location of users : 110.01291235253137 deg longitude, 30.494667495690518 deg latitude

##### Fix Location Data

In [ ]:
print("Fix Location Start")

df_trans_event = df_events_users_w_age.copy()
    
for index, row in df_trans_event.iterrows():
    location = [row["longitude"], row["latitude"]]
    device_id = row["device_id"]
    if location[1] < 0.001:
        if location[1] > -0.001:
            isbad = False
            if location[0] < -179.99:
                isbad = True
            elif location[0] > 179.99:
                isbad = True
            elif location[0] < 0.001:
                if location[0] > -0.001:
                    isbad = True
            if True == isbad:
                if not device_id in Available_Devices:
                    location = [mean_longitude, mean_latitude]
                else:
                    location = [df_valid_eventLocation["longitude"][device_id], df_valid_eventLocation["latitude"][device_id]]
    df_trans_event.at[index, "longitude"] = location[0]
    df_trans_event.at[index, "latitude"] = location[1]
            
print("Fix Location End")

Fix Location Start
Fix Location End

##### Set Encoding for Event time

In [ ]:
df_trans_event_dt = df_trans_event.copy()
df_trans_event_dt['timestamp'] =pd.to_datetime(df_trans_event_dt['timestamp'])
df_trans_event_dt["hour"] = 0
df_trans_event_dt["hour"] = df_trans_event_dt['timestamp'].dt.hour
df_trans_event_dt["day_of_week"] = 0
df_trans_event_dt["day_of_week"] = df_trans_event_dt["timestamp"].dt.dayofweek

df_trans_event_dt = df_trans_event_dt.drop("timestamp", axis=1)
df_trans_event_dt.tail(5)

,device_id,gender,age,group,phone_brand,device_model,event_id,longitude,latitude,hour,day_of_week
1220469,89181010588227347,M,25,M23-26,xiaomi,MI 2S,2218742,117.08,26.61,19,3
1220470,89181010588227347,M,25,M23-26,xiaomi,MI 2S,2243803,117.08,26.61,17,4
1220471,89181010588227347,M,25,M23-26,xiaomi,MI 2S,2336186,119.26,26.05,14,2
1220472,89181010588227347,M,25,M23-26,xiaomi,MI 2S,3139128,119.26,26.05,14,2
1220473,89181010588227347,M,25,M23-26,xiaomi,MI 2S,3176234,117.08,26.61,17,4

#### Aggregate Application Event

##### Calculate Number of Events per File

In [ ]:
last_event_id = df_app_events["event_id"].max()
number_of_files = 50;
number_of_events_per_file = np.ceil(last_event_id/number_of_files)

print("There are {0} number of events.".format(last_event_id))
print("They will be split into {0} files. {1} events per file.".format(number_of_files, number_of_events_per_file))

There are 3252948 number of events.
They will be split into 50 files. 65059.0 events per file.

##### Merging App Label Category and User Info into Application Event and Saving Data in Multiple Files

In [ ]:
print("Function start ...")

df_agg_user_info_w_age = df_trans_event_dt

for i in range(0, number_of_files):
    min_event_id = i*number_of_events_per_file;
    max_event_id = (i+1)*number_of_events_per_file;
    
    # get event slice
    df_app_event_slice = df_app_events[(df_app_events["event_id"] >= min_event_id) & (df_app_events["event_id"] < max_event_id)]
    
    # merge word vector into event label
    df_app_event_slice = df_app_event_slice.merge(df_agg_app_label, on="app_id", how="left")
    
    # drop App_ID
    df_app_event_slice = df_app_event_slice.drop("app_id", axis=1)
    
    # remove unknown apps
    df_app_event_slice = df_app_event_slice.dropna()
    
    # seperate into active and inactive apps
    df_app_event_slice_active = df_app_event_slice[(df_app_event_slice["is_active"] == 1 )]
    
    # aggregate event word vector
    df_app_event_slice_active = df_app_event_slice_active.groupby("event_id").sum()
    
    # get the events of the specified range to reduce computations in merge
    df_agg_user_info_w_age_slice =  df_agg_user_info_w_age[(df_trans_event_dt["event_id"] >= min_event_id) & (df_agg_user_info_w_age["event_id"] < max_event_id)]
    
    # Merge data sets
    df_app_event_slice_active_w_age = df_app_event_slice_active.merge(df_agg_user_info_w_age_slice, on="event_id", how="inner")
  
    # Set File name
    filename_active_w_age = '../../Data/Processed/users_with_age/active_apps/app_active_age_events_{:04d}.csv'.format(i+1)
    
    # Save data to csv
    df_app_event_slice_active_w_age.to_csv(filename_active_w_age, index=False)
    
print("Function Complete")

Function start ...

### Get List of Phone Model and brand

#### Count Number of Devices with User Age available

In [ ]:
df_phone_list = df_agg_user_info_w_age[["phone_brand","device_model"]].copy()
df_phone_list["count"] = 1
df_phone_list.head(4)

In [ ]:
df_phone_list = df_phone_list.groupby(by=['phone_brand', 'device_model'])['count'].sum()
df_phone_list

#### Save Device Model Data

In [ ]:
df_phone_list.to_csv('../../Data/Processed/device_model_count.csv', index=True, header=True)